<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= t('aboutUs') %>
			</div>
			<div class="col-md-3">
				<%= t('contactUs') %>
			</div>
			<div class="col-md-3">
				<%= t('blog') %>
			</div>
			<div class="col-md-3">
				<%= link_to t("languagues.english"), '/en' %>
				<%= link_to t("languagues.gujarati"), '/gu' %>
				<%= link_to t("languagues.hindi"), '/hi' %>
				<%= link_to t("languagues.marathi"), '/mr' %>
				<%= link_to t("languagues.tamil"), '/ta' %>
			</div>
		</div>
	</div>
</div>